<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="editor">
            <h2><span jhiTranslate="theLibraryApp.editor.detail.title">Editor</span> {{editor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theLibraryApp.editor.name" [ngbTooltip]="'theLibraryApp.editor.help.name' | translate">Name</span></dt>
                <dd>
                    <span>{{editor.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/editor', editor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
