<div>
    <h2 id="page-heading">
        <span jhiTranslate="theLibraryApp.coordinates.home.title">Coordinates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-coordinates" [routerLink]="['/coordinates/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="theLibraryApp.coordinates.home.createLabel">
            Create new Coordinates
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'theLibraryApp.coordinates.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="coordinates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.street">Street</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.streetNumber">Street Number</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.additionalInformation">Additional Information</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.city">City</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.phone">Phone</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.email">Email</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.users">Users</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.library">Library</span></th>
            <th><span jhiTranslate="theLibraryApp.coordinates.editor">Editor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let coordinates of coordinates ;trackBy: trackId">
                <td><a [routerLink]="['/coordinates', coordinates.id, 'view' ]">{{coordinates.id}}</a></td>
                <td>{{coordinates.street}}</td>
                <td>{{coordinates.streetNumber}}</td>
                <td>{{coordinates.additionalInformation}}</td>
                <td>{{coordinates.city}}</td>
                <td>{{coordinates.postalCode}}</td>
                <td>{{coordinates.phone}}</td>
                <td>{{coordinates.email}}</td>
                <td>
                    <div *ngIf="coordinates.users">
                        <a [routerLink]="['../users', coordinates.users?.id, 'view' ]" >{{coordinates.users?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="coordinates.library">
                        <a [routerLink]="['../library', coordinates.library?.id, 'view' ]" >{{coordinates.library?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="coordinates.editor">
                        <a [routerLink]="['../editor', coordinates.editor?.id, 'view' ]" >{{coordinates.editor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/coordinates', coordinates.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/coordinates', coordinates.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'coordinates', { outlets: { popup: coordinates.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
